html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.product {
    padding: 15px;
    margin: 15px;
    text-align: center;
    border: 1px solid #ddd;
    display: inline-block;
    width: 35ex;
}

    .product img {
        width: 100%;
        height: 30ex;
        object-fit: contain;
    }

    .product h2 {
        font-size: 20px;
        color: #333;
    }

    .product p {
        font-size: 16px;
        color: #666;
    }
.product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product-image {
    flex: 1;
}

    .product-image img {
        width: 100%;
        object-fit: contain;
    }

.product-details {
    flex: 3;
    padding: 0 20px;
}

.product-actions {
    flex: 1;
    text-align: right;
}

.order-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

    .order-card h2 {
        margin-bottom: 10px;
    }

    .order-card p {
        margin-bottom: 5px;
    }

    .order-card ul {
        list-style-type: none;
        padding-left: 0;
    }

        .order-card ul li {
            padding: 5px 0;
            border-bottom: 1px solid #eee;
        }

            .order-card ul li:last-child {
                border-bottom: none;
            }
.search_string {
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    width: 300px; 
}

    .search_string::placeholder {
        color: #aaa; 
        font-style: italic; 
    }
.user {
    border: 1px solid #ccc; /* Граница блока пользователя */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px; /* Внутренний отступ внутри блока пользователя */
    margin-bottom: 10px; /* Отступ между блоками пользователей */
    background-color: #f9f9f9; /* Цвет фона блока пользователя */
}

    .user p {
        margin: 5px 0; /* Внутренний отступ вокруг абзацев в блоке пользователя */
    }

    .user a {
        display: block; /* Блочное отображение ссылки */
        color: #007bff; /* Цвет текста ссылки */
        text-decoration: none; /* Убрать подчеркивание ссылки */
        margin-top: 5px; /* Верхний отступ для ссылки */
    }

        .user a:hover {
            text-decoration: underline; /* Подчеркнутый текст при наведении на ссылку */
        }
.users-container {
    display: flex;
    flex-wrap: wrap;
}

.user {
    flex: 1 1 300px; /* Равномерное распределение по ширине с максимальной шириной 300px */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}